
.logo{
    max-height: 100px;
    padding-left: 0px  !important;
    padding-right: 0px !important;
}

.title {
    font-family: "Times New Roman", Times, serif;
}

.button_spacer {
    margin-top: 15px;
}
