<!DOCTYPE html>
<html>
    <head>
        <title>Index</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
        <link rel="stylesheet" type="text/css" href="css/common.css"/>
        <link rel="stylesheet" type="text/css" href="css/style.css"/>
    </head>

    <body style="background-image: url('https://latireta.files.wordpress.com/2018/05/eco-green-hill-2334.jpg'); background-size:  cover;">
        <nav class = "navbar navbar-expand-lg header">
             <a href="/"><img id="logo" src="images/logo.png" width="100px" height="100px"/></a>
             <div>
                 <h1 class="title">LMS</h1>
                 <p>Library Management System</p>
            </div>
         </nav>
        
        <div class="container">
            <div class="row">
                <div class="col-lg-12">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg-4">&nbsp;</div>
                <div id="mid" class="col-lg-4">&nbsp;</div><!--id mid css-->
                <div class="col-lg-4">&nbsp;</div>
            </div>
                <div style="display: block; text-align: center;">
                    <form method="POST" action="/login">
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4"><input type="text" name="username" placeholder="Username"/></div>
                            <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4"><input type="password" name="password" placeholder="Password"/></div>
                            <div class="col-lg-4"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">&nbsp;</div>
                            <div class="col-lg-4">&nbsp;</div>
                            <div class="col-lg-4">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-4"><button type="submit" class="btn btn-primary">Login</button></div>
                            <div class="col-lg-4"></div>
                        </div>
                    </form> 
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4 mid"><a href="/guest_search"><button type="guest" class="btn btn-primary">Proceed as Guest</button></a></div>
                        <div class="col-lg-4"></div>
                    </div>  
                    <div class="row">
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">&nbsp;</div>
                    </div>
                </div>
            </div>
    </body>

</html>