<html>
    <head>
        <title>Welcome</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/common.css">


    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-lg">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-lg">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col"><a class="btn btn-primary btn-block my-main-btn" href="/member_login">Member Login</a></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-lg">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-md"><a class="btn btn-primary btn-block my-main-btn" href="/librarian_login">Librarian Login</a></div>
                <div class="col"></div>
            </div>
            <div class="row">
                <div class="col-lg">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-md"><a class="btn btn-primary btn-block my-main-btn" href="/guest_search">Guest Search</a></div>
                <div class="col"></div>
            </div>

        </div>  
    </body>
</html>