<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>  

    <body style="background-image: url('images/background3.jpg'); background-size:  cover;">
        <div class="container rounded" style="background-color: white; margin-top: 5%;">
            <div class="row">
                <div class="col-md-2 logo" style="margin-top: 5px; margin-left: 5px;"><a href="/"><img id=logo src="images/logo.png" height="100%" width="auto"></a></div>
                <div class="col-lg-2" style="padding-left: 0px; margin-top: 10px;">
                        <div class="row">
                            <div class="col-xs-10"><h1 class="title">LMS</h1></div>
                            <div class="col-xs-2">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10"><p style="font-size: x-small;">Library Managment System</p></div>
                            <div class="col-xs-2">&nbsp;</div>
                        </div>
                </div>
                <div class="col-lg-5">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-lg-1">&nbsp;</div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style=" margin-top: 10%;" >
                                <!--drop down menu choose loan to renew HERE, input list is loanids-->

                                <!--test form delete later-->
                                <form method="GET" action="/librarian_renewResults">
                                    <div class="form-groups">
                                        <label for="loanid">Renew artifact by loanID:</label>
                                            <select id="loanid" name="loanID" placeholder="loan ID">
                                                <option th:each="i : ${loanids}" th:value="${i}" th:text="${i}"></option>
                                            </select>
                                        <button type="submit" class=" btn btn-primary button_spacer">Renew</button>
                                    </div>
                                </form>
                                <!--<form method="GET" action="/renew_search_results">
                                    <div class="form-groups">
                                        <label for="reserveArtID">Renew artifact by ID:</label>
                                        <input type="number" name="artifactID" class="form-control" id="reserveArtID" placeholder="Artifact ID">
                                        <button type="submit" class=" btn btn-primary button_spacer">Renew</button>
                                    </div>
                                </form>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">&nbsp;</div>
                    </div>
                </div>
            <div class="col-lg-1">&nbsp;</div>
        </div>
        </div>
    </body>
</html>