<!DOCTYPE html>
<html>
    <div th:replace="common/head.html"></div>  

    <body style="background-image: url('images/background3.jpg'); background-size:  cover;">
        <div class="container rounded" style="background-color: white; margin-top: 5%;">
            <div class="row">
                <div class="col-md-2 logo" style="margin-top: 5px; margin-left: 5px;"><a href="/"><img id=logo src="images/logo.png" height="100%" width="auto"></a></div>
                <div class="col-lg-2" style="padding-left: 0px; margin-top: 10px;">
                        <div class="row">
                            <div class="col-xs-10"><h1 class="title">LMS</h1></div>
                            <div class="col-xs-2">&nbsp;</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10"><p style="font-size: x-small;">Library Managment System</p></div>
                            <div class="col-xs-2">&nbsp;</div>
                        </div>
                </div>
                <div class="col-lg-5">&nbsp;</div>
            <div class="col-lg-2 mx-auto"><a href="/logout"><button type="button" class="button_spacer btn btn-primary sign_up btn-block">Log out</button></a></div>
        </div>

            <div class="row">
                <div class="col-lg-1">&nbsp;</div>
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">
                            <div style="display: block; text-align: center; margin-top: 5%;" >
                                <a href="/librarian_search"><button type="button" class="btn btn-primary button_spacer btn-block">Search Artifacts</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">
                            <div style="display: block; text-align: center; margin-top: 5%;" >
                                <a href="/librarian_viewMemberLoans"><button type="button" class="btn btn-primary button_spacer btn-block">View Member Loans</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">
                            <div style="display: block; text-align: center; margin-top: 5%;" >
                                <a href="/librarian_useridInput"><button type="button" class="btn btn-primary button_spacer btn-block">Renew Member Loans</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">
                            <div style="display: block; text-align: center; margin-top: 5%;" >
                                <a href="/librarian_addRemoveArtifacts"><button type="button" class="btn btn-primary button_spacer btn-block">Add/Remove Artifacts</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">&nbsp;</div>
                        <div class="col-lg-4">
                            <div style="display: block; text-align: center; margin-top: 5%;" >
                                <a href="/librarian_recordArtifactOnLoan"><button type="button" class="btn btn-primary button_spacer btn-block">Record Artifact On Loan</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">&nbsp;</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">&nbsp;</div>
                    </div>
                </div>
            </div>
    </body>
</html>