<!--table of contents menu for librarian logged in-->

<!DOCTYPE html>
<html>
    <body>

       <tbody>
            <tr>
                <a class="btn btn-primary" th:href="@{/librarian_search}">Search Artifacts</a>
                <!--<th style="text-align:center;">Proceed as Guest</th>-->
            </tr>
            <tr>
                <a class="btn btn-primary" th:href="@{/librarian_addRemoveArtifacts}">Add/Remove Artifacts</a>
                <!--<th style="text-align:center;">Proceed as Guest</th>-->
            </tr>
           
       </tbody>
    </body>
</html>
