<!--table of contents menu for member logged in-->

<!DOCTYPE html>
<html>
    <body>
        <div>
            <a href="/member_view_loans">View My Loans</a>
        </div>
        
        <div>
            <a href="/member_reserve_item"><button>Resere an item</button></a>
        </div>    

        <div>
            <a href="/member_test">member search</a>
        </div>



        
        <!--<tr>
            <a class="btn btn-primary" th:href="@{/librarian_search}">Search Artifacts</a>
            <th style="text-align:center;">Proceed as Guest</th>
        </tr>
        <tr>
            <a class="btn btn-primary" th:href="@{/librarian_addRemoveArtifacts}">Add/Remove Artifacts</a>
            <th style="text-align:center;">Proceed as Guest</th>
        </tr>-->
   </body>
</html>
